<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>

    <h1>User Profile Page</h1>
    <table width="400">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Login Date</th>
        </tr>
        <tr>
            <td><%= users.name %></td>
            <td><%= users.email %></td>
            <td><%= users.login_date %></td>
        </tr>
    </table>
    
</body>
</html>